[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {phoenix,[{serve_endpoints,true}]},
 {dotcom,
     [{ecto_repos,['Elixir.Dotcom.Repo']},
      {'Elixir.Dotcom.Endpoint',
          [{render_errors,
               [{view,'Elixir.Dotcom.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Dotcom.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{system,<<"PORT">>}}]},
           {url,[{host,<<"jonathansoifer.com">>},{port,80}]},
           {root,<<".">>},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {server,true},
           {version,<<"0.0.1">>},
           {secret_key_base,
               <<"bXDkikvKoGzujoQLgSCenWqDjH78ulcVw8lQAKiTCYCwv2ToL5pLzVRfrV9UdIq7">>}]},
      {'Elixir.Dotcom.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"dotcom_prod">>},
           {pool_size,20}]}]}].
